
html{
	
	background-image: url("http://cs-server.usc.edu:45678/hw/hw3/images/background.png");
	background-repeat: repeat-x;
	font-family: Times;
	background-color: #FCFBEF;
	height: 100%;
	width: 100%;
	
}
body
{
	
	margin:0px;
	
}

#contain{
	min-width:940px;	
}






#imgHeader {	
	/*main reason of centering display*/
	background-image:url('http://cs-server.usc.edu:45678/hw/hw3/images/main.jpg');
	display:block;
	margin:0 auto;
	width: 900px;
	height: 354px;
}
#navFlowerText{
	float: right;
    margin: 220px 109px 0px 0px;
}
#flowerH1{
	margin:0px;
	font-size:29px;
}
#flowerH2{
	margin:0px;	
	font-size:20.5px
}
#yellowText{
	color:#AC9800;
}
#flowerText{
	color:#F3D861;
}

#restText{
	color:#776A00;	
}






.navbar{
	background: url('http://cs-server.usc.edu:45678/hw/hw3/images/menu.png');
	background-repeat: no-repeat;
	display: block;
	margin:0 auto;
	width: 940px; 
	height: 69px;
}

.navLinks{
	
    list-style-type: none;
    margin: 0px;
    padding: 5px 31px;
	text-align:center;
	
} 

li {
    
	float:left;
	display: inline;
	padding: 0px 4px;
	
}

.navLinks a { 
	
	/* not used % sign...check needed*/ 
	
	margin: 0px 4px;
	font-weight: bold;
	text-decoration: none;
	color: #3C3600;
	display: block;
	padding: 10px 40px;
	font-size: 16px;
	
	
}
.navLinks a:hover{
	color:hotpink;
}






.outerDiv{
	margin: -20px auto -15px;
	width: 900px;	
}
#content-section{
	
	padding-left: 10px;
	padding-right: 11px;
	line-height: 1.3;
	background-color: #FFF;
	width: 879px;
}
#boxAnchor{
	font-weight: bold;
	text-decoration: none;
	color:#E5CC00;
}
#boxAnchorBottom{
	font-weight: bold;
	text-decoration: none;
	color:#E5CC00;
}

h3{
	margin-bottom:0px;
}
#Text1{
	font-size:12px;
}
#Text2{
	font-size:12px;
}

#BottomLink{
	padding-top: 20px;
	padding-bottom: 6px;	
	font-size: 13px;
}
.paraText{
	font-size:14px;
}









/*
	Jumobotron pic css
	#imgNavigation{
	position: relative;
	display:block;
	margin:0 auto;
	width:60%; 
	height:80px;
	min-width:780px;
	
	
	
	
	}
	
	
	
	
	
	
	
	
*/
